@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body {
    margin: 0;
<<<<<<< HEAD
}
.App{
    width: 100vw;
    height: 100vh;
=======
    color:  #4E5166;
    background-color: $color-secondary;
>>>>>>> 8c2a6ddc9acc13f4dcd16cd7d61c9ee2e3484d3a
}