.header
{
    width: 100%;
    display: flex;
<<<<<<< HEAD
=======
    background-color: $color-tertiary;
>>>>>>> 8c2a6ddc9acc13f4dcd16cd7d61c9ee2e3484d3a
    align-items: center;
    justify-content: space-between;

}

.buttonLogout{
    color: white;
    cursor: pointer;
}

/*Smartphone*/
@media (max-width: 425px) {

    .header
    {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: baseline;
        aspect-ratio: 10/1;
        font-size: 3vw;
        padding-bottom: 2vw;
    }
    .displayHeader{
        display: flex;
        justify-content: center;
    }
    header img
    {
        text-align: center;
        width: 50%;
        margin-top: 2.5%;
    }
    .displayButtonLogout{
        margin: 0 2vw 0 2vw;
    }
}

/*Tablette*/
@media (min-width: 426px) and (max-width: 1023px) {
    .header
    {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
    }
    header img
    {
        text-align: center;
        width: 25vw;
    }
}

/*Desktop*/
@media (min-width: 1024px) {

    .header{
        height: 10vw;
    }
    .displayHeader {
        width: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    .displayHeaderLeft{
        width: 10%;
        aspect-ratio: 1/0.5;
        display: flex;
    }
    header img
    {
        text-align: center;
        width: 20vw;
    }
    .displayButtonLogout{
        aspect-ratio: 1/0.5;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around
    }
.buttonLogout:focus-visible{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}
}
